:host {
  ::ng-deep {
    .border-left {
      border-left: 0.5px black solid !important;
    }

    .border-right {
      border-right: 0.5px black solid !important;
    }

    .divider {
      background-color: black !important;
    }
  }
}
